/* 🥪 */

/* COULEURS */

:root {
    --darkblue: #152237;
    --white : #FFFFFF;
    --white2 : #F5F5F5;
    --blue : #15B7E2;
    --green : #44DD8A;
}

/* COULEURS */

* {
    font-family: Montserrat, sans-serif;
    color: var(--darkblue);
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

#global-content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/*  Partie navbar */

#burger-menu {
    display: none;
}

#navbar {
    width: 100%;
    height: 80px;
    background-color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

.logo-nav {
    width: 84px;
}

#connect-buttons {
    display: flex;
    gap: 5%
}

.button-nav {
    color: var(--darkblue);
    font-size: 15px;
    width: 130px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
}

.button-nav2 {
    color: var(--darkblue);
    font-size: 15px;
    background-image: linear-gradient(to right, #44DD8A, #15B7E2);
    width: 130px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
}

.search-bar{
    position: relative;
    width: 30%;
}

.input-nav {
    width: 100%;
    height: 40px;
    background-color: var(--darkblue);
    color: var(--white);
    border: 1px solid white;
    border-radius: 6px;
    padding-left: 17px;
    font-size: 15px;
    flex-grow: 1;
}

.input-nav::placeholder {
    color: white;
    font-size: 15px; 
}

#search-icon {
    width: 24px;
    position: absolute;
    right: 0;
    top: 24%;
}


.link-nav {
    text-decoration: none;
    color: white;
    font-size: 15px;
}


/* HERO */

#hero {
    position: relative;
    width: 100%;
    height: 540px;
    background: linear-gradient(to right, #44DD8A, #15B7E2);
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("Images/bg-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
}

#hero > * {
    position: relative;
    z-index: 1;
}


#hero-title {
    color: var(--darkblue);
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    text-align: center;
}

#hero-subtitle {
    color: var(--darkblue);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

#hero-content {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-direction: column;
    align-items: center;
}

#hero-button {
    color: var(--darkblue);
    font-size: 15px;
    width: 130px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
    font-weight: 500px;
}

/* SECTION 1 */

#first-section {
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-position {
    width: 93%;
    display: flex;

}

.section-title {
    color: var(--darkblue);
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
}

.cards-contener {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 1.5%;
    box-sizing: border-box;
    
}

.card-padding {
    padding: 10px;
}

.card {
    height: 365px;
    width: 21%;
    min-width: 305px;
    max-width: 1000px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    gap: 20px;
}

.card-img {
    background-color: var(--green);
    height: 216px;
    width: 110%;
    margin-left: -10px;
    margin-top: -10px;
    pointer-events: none;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 28px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: 400;
}

.price-position {
    position: absolute;
    top: 52%;
    right: 10px;
}

.card-price {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 31px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--darkblue);
    border-radius: 93px;
    color: var(--white);
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 10px;
}

.mini-price {
    font-size: 10px;
    font-weight: 400;
    color: var(--white);
    text-decoration: line-through;
}

.star-lines {
    display: flex;
    padding: 0;
    margin: 0;
}

.star {
    width: 25px;
}

.opacity {
    opacity: 30%;
}

.section-button {
    color: var(--white);
    background-color: var(--darkblue);
    font-size: 15px;
    font-weight: 500;
    width: 225px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
}

/* SECTION 2 */

#second-section {
    width: 100%;
    height: auto;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reversed {
    color: white;
}

.bg-reversed {
    background-color: white;
    color: var(--darkblue);
}

/* SECTION 3 */

#third-section {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

#third-title {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

#client-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 50px;
    gap: 50px;
}

.client-card {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;

}

.client-pfp {
    width: 139px;
    height: 139px;
    border-radius: 50%;
    pointer-events: none;
}

.client-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.client-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

/* SECTION 4 */

#fourth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    height: auto;
    width: 100%;
    background-color: var(--white2);
    flex-wrap: wrap;
}

#fourth-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 95%;
    position: relative;
    height: 92%;
}

#fourth-title {
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    top: 0;
}

#fourth-ul {
    width: 650px;
    height: 100%;
    list-style-type: none;
}

.fourth-li {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: -7px;
}

.li-text {
    font-size: 24px;
    margin-left: 10px;
    font-weight: 400;
}

.list-img {
    width: 30px;
    pointer-events: none;
}

.fourth-section-img {
    height: 472px;
    width: 727px;
    pointer-events: none;
}

/* SECTION 5 */

#fifth-section {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 50px;
    background-color: var(--green);
    box-sizing: border-box;
}


#fifth-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    width: 95%;
    position: relative;
    height: 92%;
}

#fifth-title {
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    top: 0;
}

#fifth-ul {
    width: 650px;
    height: 100%;
    list-style-type: none;
    margin-top: 18%;
}

.fifth-li {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: -7px;
}

.fifth-section-img {
    height: 472px;
    width: 727px;
    pointer-events: none;
}

.fourth-li,
.fifth-li {
    display: inline-flex;
    align-items: flex-start;
}

.mobile {
    display: none;
}

/* SECTION 6 */

#sixth-section {
    display: flex;
    height: auto;
    min-height: 740px;
    width: 100%;
    background-color: var(--white2);
    box-sizing: border-box;
}

#left-content {
    width: 52%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    box-sizing: border-box;
}

#right-content {
    width: 48%;
    background-color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-logo {
    width: 50%;
}

#sixth-title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px;
}

#sixth-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}

/* SECTION 7 */

#seventh-section {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

#seventh-title {
    font-size: 40px;
    font-weight: 900;
}

#title-line {
    border: 1px solid var(--green);
    width: 18%;
    margin-top: 25px;
}

#form-contener {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

#first-row {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.seventh-input {
    width: 45%;
    background-color: var(--darkblue);
    height: 45px;
    border: none;
    box-sizing: border-box;
    padding: 15px;
    color: white;
}

.seventh-input::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#text-input {
    width: 100%;
    margin-top: 50px;
}

#seventh-text-area {
    width: 100%;
    height: 194px;
    background-color: var(--darkblue);
    border: none;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    color: white;
}

#seventh-text-area::placeholder {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#seventh-button {
    background-color: var(--green);
    border: none;
    width: 351px;
    height: 45px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
}

/* FOOTER */

#gradient-separator {
    width: 100%;
    height: 18px;
    background-image: linear-gradient(to right, var(--green), var(--blue));
}

footer {
    width: 100%;
    height: 489px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
}

#footer-first {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 65%;
}

#footer-logo {
    width: 243px;
    height: 87px;
}

.footer-ul {
    color: white;
    list-style: none;
}

.footer-li {
    color: white;
    display: flex;
    align-items: center;  
    gap: 8px;              
    margin-bottom: 8px;    
}

.title {
    font-weight: bold;
}

.footer-li-text {
    color: white;
    margin: 0;
}

.footer-icon {
    width: 25px;
}

#footer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-separator {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid var(--green);
}

#footer-second {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

#credits {
    color: white;
}

.footer-text {
    color: white;
}

#footer-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Reponsive (à l'aide) */

@media (max-width: 1580px){
    /* SECTION 4 */

    #fourth-section {
        height: auto;
        
    }

    #fourth-content {
        height: auto;
        width: 80%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #fourth-ul {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    

    #fourth-title {
        position: relative;
        text-align: center;
    }

    .fourth-section-img {
        width: 80%;
        height: auto;
    }

    /* SECTION 5 */

    #fifth-section {
        height: auto;
        flex-direction: column;
        align-items: center;
    }


    #fifth-content {
        height: auto;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
    }

    #fifth-ul {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    
    .fifth-section-img {
        width: 80%;
        height: auto;
    }

    .fifth-title {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
    }

    .mobile {
        display: inline;
    }

    .fifth-section-img {
        width: 80%;
        height: auto;
        margin-bottom: -85px;
        margin-top: 25px;
        align-items: center;
    }

    #fifth-title {
        display: none;
    }

    /* FOOTER */

    #footer-first {
        flex-wrap: wrap;
        height: auto;
    }
}

@media (max-width: 800px) {
    
    /* NAVBAR */

    .search-bar {
        display: none;
    }

    #connect-buttons {
        display: none;
    }

    .link-nav {
        display: none;
    }

    #burger-menu {
        display: flex;
        width: 56px;
        height: 56px;
    }

    #navbar {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* HERO */

    #hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("Images/bg-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
    background-position: center;
    }

    #hero {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    /* SECTION 1 */

    .cards-contener {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section-title {
        margin-bottom: 50px;
        text-align: center;
    }

    #first-section {
    height: auto;
    justify-content: center;
    align-items: center;
    }
    /* SECTION 2 */

    #second-section {
    height: auto;
    }
    
    /* SECTION 3*/

    #third-section {
        height: auto;
    }

    #client-cards {
        flex-direction: column;
    }

    .client-card {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* SECTION 4 */

    #fourth-section {
        height: auto;
        
    }

    #fourth-content {
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #fourth-ul {
        width: 100%;
    }
    

    #fourth-title {
        position: relative;
        text-align: center;
    }

    .fourth-section-img {
        width: 100%;
        height: auto;
    }

    /* SECTION 5 */

    #fifth-section {
        height: auto;
        flex-direction: column;
        align-items: center;
    }


    #fifth-content {
        height: auto;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    #fifth-ul {
        width: 100%;
    }
    
    #fifth-title {
        display: none;
    }

    .fifth-title {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
    }

    .mobile {
        display: inline;
    }

    .fifth-section-img {
        width: 100%;
        height: auto;
        margin-bottom: -45px;
        margin-top: 25px;
        align-items: center;
    }


    /* SECTION 6 */ 

    #sixth-section {
        height: auto;
        flex-direction: column;
        width: 100%;
    }

    #sixth-title {
        text-align: center;
    }

    #left-content {
        width: 100%;
        height: auto;
    }

    #right-content {
        width: 100%;
        height: 37rem;
    }



    /* SECTION 7 */

    #seventh-section {
        height: auto;
    }

    #first-row {
        flex-direction: column;
        gap: 20px;
    }

    .seventh-input {
        width: 100%;
    }

    #seventh-text-area {
        width: 100%;
    }

    #text-input {
        margin-top: 20px;
    }

    #seventh-button {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    }

    #seventh-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* FOOTER */

    footer {
        height: auto;
        flex-direction: column;
    }

    #footer-first{
        flex-direction: column;
        gap: 50px;
        text-align: center;
        align-items: center;
    }

    .mobile-ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 20px;
    }

    #footer-buttons {
        display: none;
    }

    #footer-separator {
        display: none;
    }

    #footer-second {
        display: none;
    }

}